@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --background-color: #000;
    --text-color: #f1f2f6;
    --footer-color: #000;
}

body {
    font-family: "Poppins", sans-serif;
    color: #4c4c4c;
    background-color: var(--background-color);
    display: block;
    margin: auto;
    text-align: center;
    font-size: larger;
    overflow-x: hidden;
}

main {
    display: block;
    margin: 4rem;
    margin-bottom: 10rem;
}


main h1 {
    max-width: 558px;
    max-height: 122px * 1.2;
    display: block;
    margin: auto;
    margin-top: 150px;
    font-size: 100px;
    background-repeat: repeat;
    background: radial-gradient(circle at 50% 50%, #00FFEB 0%, #073ABB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

ul {
    list-style: none;
    padding-left: 0;
}

.menu-li {
    display: inline-block;
    border: 2px solid #4c4c4c;
    border-radius: 2rem;
    padding: 0.8rem;
    margin: 1rem;

}

.menu-li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.footer {
    background-color: var(--footer-color);
    text-align: center;
    padding-top: 0.25rem;
}

.footer ul {
    list-style: none;
}

.footer li {
    display: inline;
    padding: .7rem;
}

.footer li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}


.footer-footer {
    color: #333;
    font-weight: 500;
    padding-bottom: 1rem;
}

.footer-footer .strong {
    font-size: 1.5rem;
    background-repeat: repeat;
    background: radial-gradient(circle at 50% 50%, #00FFEB 0%, #073ABB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@media screen and(max-width : 700px) {
    main {
        width: 300px !important;
        height: 50px * 1.2 !important;
        text-align: center;
    }

    main h1 {
        font-size: 50%;
        width: 300px !important;
        height: 50px * 1.2 !important;
    }
}