@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --background-color: #000;
    --text-color: #f1f2f6;
    --footer-color: #000;
}